.toolbar-spacer {
  flex: 1 1 auto;
}

#navigationSidenav {
  width: 256px;
  max-width: 256px;
}

.nav-list-icon {
  margin: 0 12px 0 12px;
}

.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-drawer-container {
  height: 100%;
}
